{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  	<link href="{% static "img/favicon.ico" %}" rel="icon" type="image/x-ico" /> -->
	<title>{% block title %}{{object.name}}{% endblock %}</title>
	{% block script %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	{% endblock %}
	{% block style %}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
		.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
		.navbar {min-height:32px !important;background: rgba(255,255,255,0.7);}		
		body > .wrapper {padding-top: 52px;}
		.nav > .breadcrumb {float: left; margin-top: 8px; padding-bottom: 0px;}
    </style>
	{% endblock %}
  </head>
{% csrf_token %}
<body>
    <div class="wrapper">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    {% block navbar-header %}
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      {% block brandname %}{% endblock brandname %}
	    </div>
	    {% endblock navbar-header %}
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      {% block navbar %} 
	      <ul class="nav navbar-nav">
	        <li><a href="https://www.hhnk.nl/prinshendrikzanddijk">Prins Hendrikzanddijk</a></li>
	      </ul>
	      {% endblock navbar %}
	      {% block navbar-auth %}
	      <ul class="nav navbar-nav navbar-right">
	        {% block navbar-right %}{% endblock navbar-right %}
	        {% if user.is_authenticated %}
	        <li><a href="{% block admin_url %}/admin/peil{% endblock admin_url %}">Beheer</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}
	          <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><a href="{% url 'auth_logout' %}">Uitloggen</a></li>
	            <li><a href="{% url 'auth_password_change' %}">Wachtwoord veranderen</a></li>
	          </ul>
	        </li>
          	{% else %}
	        <li><a href="{% url 'auth_login' %}">Inloggen</a></li>
          	{% endif %}
	      </ul>
	      {% endblock navbar-auth %}
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
    {% block content %}
    {% endblock content %}
	</div> <!-- wrapper -->
    {% block footer %}
    {% endblock footer %}
  </body>
</html>