{% extends 'peil/base.html' %}
{% block title%}PHZD - grafiek {{object}} {% endblock %}
{% block navitems %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Startpagina</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'device-map'%}">Kaart</a>
    </li>
  	<li class="nav-item active">
  		<a class="nav-link" href="#" >Grafiek</a>
  	</li>
{% if request.user.is_authenticated %}
  	<li class="nav-item">
  		<a class="nav-link" href="{% url 'device-detail' object.id %}" title="Toon details van {{object}}">Details</a>
  	</li>
  	<li class="nav-item">
  		<a class="nav-link" href="{% url 'device-photos' object.id %}" title="Toon fotos van {{object}}">Fotos</a>
  	</li>
{% endif %}
	<li class="nav-item dropdown">
	  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
	  {{object}}
	  </a>
	  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	    {% for device in nav.all %}
		<a class="dropdown-item" href="{%url 'chart-detail' device.id %}">{{device}}</a>
		{% endfor %}
	  </div>
	</li>
{% endblock navitems %}
{% block navbar %}
{% endblock navbar %}
{% block script %}
{{ block.super }}
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script src="//code.highcharts.com/modules/offline-exporting.js"></script>
<script>

Highcharts.setOptions({
  lang: {
  	shortMonths : ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"],
	months: ["Januari", "Februari", "Maart", "April", "Mei", "Juni",  "Juli", "Augustus", "September", "Oktober", "November", "December"],
	weekdays: ["Zondag", "Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag"],
  },
  global: { useUTC: false }
});

/***
 * set extremes of chart 2 to chart 1
 */
function syncCharts(chart1, chart2) {
	var e = chart1.getExtremes();
	chart2.setExtremes(e.min,e.max);
}

function fetchSeries(url,charts,others) {
	$.ajax({
	    url: url,
	    datatype: "json",
	    beforeSend: function(hdr) {
	        for (var i=0; i < charts.length; i++) {
	            charts[i].showLoading("Gegevens ophalen...");
		  	}
	    	return true;
	    },
	    success: function(data) {
		  	$.each(data,function(key,values) {
		        for (var i=0; i < charts.length; i++) {
			  		var series = charts[i].get(key);
			  		if (series) {
						series.setData(values);
						break;
			  		}
			  	}
		  	});
	    },
	    error: function(hdr,status,errorThrown) {
	    	alert("Fout tijdens laden van tijdreeks: " + errorThrown);
	    },
	    complete: function(hdr, status) {
	        for (var i=0; i < charts.length; i++) {
		    	charts[i].hideLoading();
		    	if (others) {
		    		for (var j=0;j<others.length;j++) {
						if (charts[i] !== others[j])
			    			syncCharts(charts[i].xAxis[0],others[j].xAxis[0]);
			    	}
		    	}
	    	}
	    }
    });
}

/**
 * In order to synchronize tooltips and crosshairs, override the
 * built-in events with handlers defined on the parent element.
 */
function bindCharts() {
	$('#container').bind('mousemove touchmove touchstart', function (e) {
	    var chart,
	        point,
	        i,
	        event;
	
	    for (i = 0; i < Highcharts.charts.length; i = i + 1) {
	        chart = Highcharts.charts[i];
	        event = chart.pointer.normalize(e.originalEvent); // Find coordinates within the chart
	        point = chart.series[0].searchPoint(event, true); // Get the hovered point
	
	        if (point) {
	            point.highlight(e);
	        }
	    }
	});
}
  
/**
 * Override the reset function, we don't need to hide the tooltips and crosshairs.
 */
Highcharts.Pointer.prototype.reset = function () {
    return undefined;
};

/**
 * Highlight a point by showing tooltip, setting hover state and draw crosshair
 */
Highcharts.Point.prototype.highlight = function (event) {
    this.onMouseOver(); // Show the hover marker
    this.series.chart.tooltip.refresh(this); // Show the tooltip
    this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
};

/**
 * Synchronize zooming through the setExtremes event handler.
 */
function syncExtremes(e) {
    var thisChart = this.chart;

    if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
        Highcharts.each(Highcharts.charts, function (chart) {
            if (chart !== thisChart) {
                if (chart.xAxis[0].setExtremes) { // It is null while updating
                    chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, { trigger: 'syncExtremes' });
                }
            }
        });
    }
}


$(function () {
	  var opt1 = {{options1|safe}};
	  opt1.xAxis.events.setExtremes = syncExtremes;
	  opt1.exporting = {
	        buttons: {
	            contextButton: {
	                menuItems: [{
	                    text: 'Download figuur',
	                    onclick: function () {
	                        this.exportChart();
	                    }
	                }, {
	                    text: 'Download gegevens',
	                    onclick: function () {
	            			window.location="{% url 'chart-csv' object.id %}";
	                    },
	                    separator: false
	                }]
	            }
	        }
	  };

	  var opt2 = {{options2|safe}};
	  opt2.xAxis.events = opt1.xAxis.events;
	  var opt3 = {{options3|safe}};
	  opt3.xAxis.events = opt1.xAxis.events;
	  var opt4 = {{options4|safe}};
	  opt4.xAxis.events = opt1.xAxis.events;

	  var chart1 = Highcharts.chart("chart1",opt1);
	  var chart2 = Highcharts.chart("chart2",opt2);
	  var chart3 = Highcharts.chart("chart3",opt3);
	  var chart4 = Highcharts.chart("chart4",opt4);

	  fetchSeries("{% url 'chart-json' object.id %}",[chart1,chart2],[chart3,chart4]);
	  fetchSeries("{% url 'series-json' getij.id %}",[chart3],null);
	  fetchSeries("{% url 'series-json' neerslag.id %}",[chart4],null);

	  //setTimeout(bindCharts,500);
});

</script>
{% endblock %}

{% block style %}
{{block.super}}
<style>
html, body, .wrapper, .full {
	height: 100%;
}
.chart {
  width: 90%;
  height: 25%;
  margin: 0 auto;
}
</style>
{% endblock %}

{% block content %}

<div id="container" class="container-fluid">
<div id="chart1" class="chart"></div>
<div id="chart2" class="chart"></div>
<div id="chart3" class="chart"></div>
<div id="chart4" class="chart"></div>
</div>
{% endblock %}
