{% extends 'peil/base.html' %}
{% block title %}Device {{object}}{% endblock %}
{% block style %}
{{block.super}}
<style>

.frame {
	padding: 2% 5% 2% 5%;
}
.battery {
	height: 32px;
	float: right;
}
.dry {
	color: black;
}
.wet {
	font-weight: bold;
	color: blue;
}

</style>
{% endblock %}

{% block navitems %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Startpagina</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'device-map'%}">Kaart</a>
    </li>
  	<li class="nav-item">
  		<a class="nav-link" href="{% url 'chart-detail' object.id %}" title="Toon grafiek van {{object}}">Grafiek</a>
  	</li>
{% if request.user.is_staff %}
  	<li class="nav-item active">
  		<a class="nav-link" href="{% url 'device-detail' object.id %}" title="Toon details van {{object}}">Details</a>
  	</li>
  	<li class="nav-item">
  		<a class="nav-link" href="{% url 'device-photos' object.id %}" title="Toon fotos van {{object}}">Fotos</a>
  	</li>
{% endif %}
	<li class="nav-item dropdown">
	  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
	  {{object}}
	  </a>
	  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	    {% for device in nav.all %}
		<a class="dropdown-item" href="{%url 'device-detail' device.id %}">{{device}}</a>
		{% endfor %}
	  </div>
	</li>
{% endblock navitems %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<div class="frame">
<div class="container-fluid">
<h3>{{object|title}}{%if battery %}<img class="battery" src={{battery.icon}} title="batterij {{battery.level}}%"></img>{%endif%}</h3>
<div class="row">
<div class="col col-md-6">
<table class="table table-striped">
<thead>
<tr class="active">
<th>Omschrijving</th>
<th>Waarde</th>
</tr>
</thead>
<tbody>
<tr>
<td>Identificatie</td>
<td>{{object.devid}}</td>
</tr>
<tr>
<td>Serienummer</td>
<td>{{object.serial}}</td>
</tr>
<tr>
<td>Lengte</td>
<td>{%if object.length %}{{object.length}} mm {% else %}onbekend{% endif %}</td>
</tr>
<tr>
<td>Sensoren</td>
<td>{{object.sensor_names}}</td>
</tr>
<tr>
<td>Aantal sensoren</td>
<td>{{object.sensor_set.count}}</td>
</tr>
<tr>
<td>Laatste contact</td>
<td>{{object.last_seen}}</td>
</tr>
</tbody>
</table>
</div>
<div class="col col-md-6">
<table class="table table-striped">
<thead>
<tr class="active">
<th>Omschrijving</th>
<th>Waarde</th>
</tr>
</thead>
<tbody>
{% with object.last_survey as survey %}

<tr>
<td>Ingemeten door</td>
<td>{{survey.surveyor}}</td>
</tr>
<tr>
<td>Tijdstip</td>
<td>{{survey.time}}</td>
</tr>
<tr>
<td>Positie (RD)</td>
<td>X={{survey.location.x}}, Y={{survey.location.y}}</td>
</tr>
<tr>
<td>Hoogte (NAP)</td>
<td>{{survey.altitude|floatformat:2}}</td>
</tr>

{% endwith %}
</tbody>
</table>
</div>
</div>
<div class="row">
<div class = "col col-md-12">
<h3>Sensoren</h3>
<table class="table table-striped">
<thead>
<tr class="active">
<th>Sensor</th>
<th>Positie</th>
<th>Afstand (mm)</th>
<th>Hoogte (m tov NAP)</th>
<th>Aantal berichten</th>
<th>Laatste bericht</th>
<th>Laatste waarde</th>
<th>Eenheid</th>
<!-- <th>Inhoud bericht</th> -->
</tr>
</thead>
{% for sensor in object.sensor_set.all %}
<tr class="{%if sensor.elevation < level.nap %}wet{%else%}dry{%endif%}">
<td>{{sensor.ident}}</td>
<td>{{sensor.position}}</td>
<td>{{sensor.distance}}</td>
<td>{{sensor.elevation|floatformat:2}}</td>
<td>{{sensor.message_count}}</td>
{% with sensor.last_message as last %}
<td>{{last.time}}</td>
<td>{%ifequal sensor.ident "GPS"%}{{last.NAPvalue}}{%else%}{{last.value|default:""}}{%endifequal%}</td>
<td>{{sensor.unit}}</td>
{% endwith %}
</tr>
{% endfor %}
<tr>
<td colspan="5">Waterhoogte</td>
<td>{{level.time}}</td>
<td>{{level.cm|floatformat:0}}</td>
<td>cm</td>
</tr>
<tr>
<td colspan="5">Waterstand</td>
<td>{{level.time}}</td>
<td>{{level.nap|floatformat:2}}</td>
<td>m tov NAP</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
{% endblock %}
