{% extends 'peil/base.html' %}
{% block title %}Kaart{% endblock %}
{% block navbar %}
{% endblock %}
{% block style %}
{{ block.super }}
<style>
html, body, .wrapper, .full {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#list {
	padding: 0px 8px 0px 8px;
	overflow-y: auto;
}

.adjust {
	margin: -10px 10px;
}

table { border: 1px solid white; }
td:first-child { font-weight: bold; }
tr:nth-child(odd) { background: Azure; }
</style>
{% endblock %}
{% block script %}
{{ block.super }}
<script src="//maps.googleapis.com/maps/api/js?key={{api_key}}"></script>
<script>
var map;
function initialize() {
	var gouda = new google.maps.LatLng(52.0214027778, 4.710125);
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: {{zoomlevel|default:12}},
        center: gouda,
        mapTypeId: google.maps.MapTypeId.{{maptype|default:'SATELLITE'}}
    });

    var geocoder = new google.maps.Geocoder();
	geocoder.geocode({'address': 'Texel'}, function(results, status) {
	    if (status == 'OK') {
	      map.fitBounds(results[0].geometry.bounds);
	    }
	});
}

$(function() {
	initialize();
	$("#list").height($("#map").height());
});

</script>
{% endblock %}

{% block content %}
<div class="full adjust container-fluid">
<div id="map" class="full col-lg-9"></div>
{% block list %}
<div id="list" class="list-group scroll col-lg-3">
<a href="#" class="list-group-item active">Peilstokken<span id="badge" title="Aantal geregistreerde peilstokken" class="badge">0</a>
{% for device in object_list %}
<a href="#" class="list-group-item">{{device.devid}}<span id="badge" title="Aantal berichten" class="badge">{{device.count}}</a>
{% endfor %}
</div>
{% endblock list %}
</div>
{% endblock %}