{% extends 'peil/base.html' %}
{% block style %}
{{ block.super }}
<style>
html, body, .wrapper, .container, iframe {
  height: 100%;
  width: 100%;
}
</style>
{% endblock style %}
{% block navitems %}
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" href="/">Startpagina <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="map">Kaart</a>
    </li>
  </ul>
{% endblock navitems %}
{% block content %}
<div class="container">
<!-- <iframe seamless src="https://www.hhnk.nl/prinshendrikzanddijk/project_42608/"></iframe> -->
</div>
{% endblock %}