{% extends 'peil/base.html' %}
{% block title %}PHZD - kaart{% endblock %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="//unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/css/mapstor.css"/>
<link rel="stylesheet" 
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
	crossorigin="anonymous">
{% endblock %}
{% block script %}
{{ block.super }}
<script src="//unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key={{api_key}}" async defer></script>
<script src="//unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js"></script>
<script src="//unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/static/js/ellipse.js"></script>
<script src="/static/js/mapstor.js"></script>
<script>

/**
 * Initializes the leaflet map
 * @param div where map will be placed
 * @returns the map
 */
function initMap(div) {
	var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
 		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	});
	
	var roads = L.gridLayer.googleMutant({
	    type: 'roadmap' // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
	});

	var satellite = L.gridLayer.googleMutant({
	    type: 'satellite' // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
	});
	
	var topo = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
		attribution: 'Tiles &copy; Esri'
	});
	
	var imagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
		attribution: 'Tiles &copy; Esri'
	});
	
	var bodemkaart = L.tileLayer.wms('https://geodata.nationaalgeoregister.nl/bodemkaart50000/wms', {
		layers: 'bodemkaart50000',
		format: 'image/png',
		srs: 'EPSG:3857',
		opacity: 0.4
	});

	var ahn25 = L.tileLayer.wms('https://geodata.nationaalgeoregister.nl/ahn2/wms', {
		layers: 'ahn2_5m',
		format: 'image/png',
		srs: 'EPSG:3857',
		opacity: 0.4
	});

	var ahn205 = L.tileLayer.wms('https://geodata.nationaalgeoregister.nl/ahn2/wms', {
		layers: 'ahn2_05m_non',
		format: 'image/png',
		srs: 'EPSG:3857',
		opacity: 0.4
	});
					
	var waterlopen = L.tileLayer.wms('https://maps.acaciadata.com/geoserver/HHNK/wms', {
	layers: 'HHNK:waterlopen_texel',
	attribution: '&copy; <a href="https://www.hhnk.nl">hhnk.nl</a>',
	format: 'image/png',
	transparent: true});
	
	var locs = '/locs?{{request.GET.urlencode}}';
	var map = L.map(div,{
		center:[53.08440, 4.80824],
		zoom: 11
		});

 	baseMaps = {'Openstreetmap': osm, 'Google roads': roads, 'Google satellite': satellite, 'ESRI topo': topo, 'ESRI imagery': imagery};
	overlayMaps = {'Waterlopen': waterlopen};//, 'Bodemkaart': bodemkaart, 'AHN2 (5m)': ahn25};
	L.control.layers(baseMaps, overlayMaps).addTo(map);
	
	if (!restoreMap(map)) {
		// use default map
		osm.addTo(map);
	}
	
	if(restoreBounds(map)) {
		// add markers, but don't change extent
		addMarkers(map,locs,false);
	}
	else {
		// add markers and zoom to extent
		addMarkers(map,locs,true);
	}
	
	var control = L.control.labelcontrol({ position: 'topleft' }).addTo(map);

	map.on('baselayerchange',function(e){changeBaseLayer(e);});
 	map.on('overlayadd',function(e){addOverlay(e);});
 	map.on('overlayremove',function(e){removeOverlay(e);});
 	map.on('zoomend',function(){saveBounds(map);});
 	map.on('moveend',function(){saveBounds(map);});
 	
 	return theMap = map;

}

$(function() {
	initMap('map');
 	$("#list").height($("#map").height());
 	$("#list").sortable();
});
</script>
{% endblock %}

 {% block navitems %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Startpagina</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="map">Kaart</a>
    </li>
    
	<li class="nav-item dropdown">
	  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
		{{menu_title}}
	  </a>
	  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	  {% for key,value in menu.items %}
		<a class="dropdown-item" href="{%url 'device-map' %}?props={{key}}">{{value}}</a>
	  {% endfor %}
	  </div>
	</li>
 {% endblock navitems %}

{% block content %}
<div class="full adjust container-fluid">
<div class="full row row-fluid">
<div id="map" class="full col-md-9"></div>
{% block list %}
<div id="list" class="list-group scroll col-md-3">
<a href="#" class="list-group-item active" style="background-color:#0091d2; ">Peilstokken<span id="badge" title="Aantal geregistreerde peilstokken" class="badge badge-light pull-right">{{object_list.count}}</a>
{% for device in object_list %}
{% if request.user.is_authenticated %}
<a href="{% url 'chart-detail' device.id %}" class="list-group-item" style="color:gray;" onmouseover="showHilite({{device.id}});" onmouseleave="hideHilite();" ><span><img class="bullet" src='/static/bullet_ball_{{device.statuscolor}}.png'></img>{{device.displayname}}</span>
<div class='text-muted laatste' title="Laatst gezien"><small>{{device.last_seen|timesince|default:""}}</small></div>
</a>
{% else %}
<a href="{% url 'chart-detail' device.id %}" class="list-group-item" style="color:gray;" onmouseover="showHilite({{device.id}});" onmouseleave="hideHilite();" ><span><img class="bullet" src='/static/bullet_ball_green.png'></img>{{device.displayname}}</span>
</a>
{% endif %}
{% endfor %}
</div>
{% endblock list %}
</div>
</div>
{% endblock %}
