{% extends 'peil/base.html' %}
{% block title %}PHZD - kaart{% endblock %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="//unpkg.com/leaflet@1.0.3/dist/leaflet.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css"/>
<link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css"/>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/static/css/mapstor.css"/>
{% endblock %}
{% block script %}
{{ block.super }}
<script src="//unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key={{api_key}}" async defer></script>
<script src="//unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js"></script>
<script src="//unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/static/js/ellipse.js"></script>
<script src="/static/js/mapstor.js"></script>
<script>

$(function() {
	initMap('map');
 	$("#list").height($("#map").height());
 	$("#list").sortable();
});

</script>
{% endblock %}
{% block content %}
<div class="full adjust container-fluid">
<div id="map" class="full col-lg-9"></div>
{% block list %}
<div id="list" class="list-group scroll col-lg-3">
<a href="#" class="list-group-item active">Peilstokken<span id="badge" title="Aantal geregistreerde peilstokken" class="badge">{{object_list.count}}</a>
{% for device in object_list %}
<a href="{% url 'chart-detail' device.id %}" class="list-group-item" onmouseover="showHilite({{device.id}});" onmouseleave="hideHilite();" ><span><img class="bullet" src='/static/bullet_ball_{{device.statuscolor}}.png'></img>{{device.displayname}}</span>
<div class='text-muted laatste' title="Laatst gezien"><small>{{device.last_seen|timesince|default:""}}</small></div>
</a>
{% endfor %}
</div>
{% endblock list %}
</div>
{% endblock %}
