{% extends 'peil/base.html' %}
{% load thumbnail %}
{% block title %}Fotos {{object}}{% endblock %}
{% block style %}
{{block.super}}
<link rel="stylesheet" 
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
	crossorigin="anonymous">
<style>
div > a > img {
	padding-top: 16px;
	width: 100%;
	height: auto;
}

.caption {
	font-size: large;
	clear: both;
	text-align: center;
}
.check {
	clear: both;
	float: right;
	padding-top: 4px;
	padding-right: 4px;
}
h3 {
	padding-left:16px;
}
</style>
{% endblock %}
{% block navitems %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Startpagina</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'device-map'%}">Kaart</a>
    </li>
  	<li class="nav-item">
  		<a class="nav-link" href="{% url 'chart-detail' object.id %}" >Grafiek</a>
  	</li>
{% if request.user.is_staff %}
  	<li class="nav-item">
  		<a class="nav-link" href="{% url 'device-detail' object.id %}" title="Toon details van {{object}}">Details</a>
  	</li>
  	<li class="nav-item active">
  		<a class="nav-link" href="{% url 'device-photos' object.id %}" title="Toon fotos van {{object}}">Fotos</a>
  	</li>
	<li class="nav-item dropdown">
	  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
	  {{object}}
	  </a>
	  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	    {% for device in nav.all %}
		<a class="dropdown-item" href="{%url 'device-photos' device.id %}">{{device}}</a>
		{% endfor %}
	  </div>
	</li>
{% endif %}
{% endblock navitems %}
{% block navbar %}
{% endblock navbar %}
{% block content %}
<div class="container-fluid">
<div class="row row-fluid"><h3 class="text-left"><br>Foto's van {{object}}</h3></div>
<div class="row row-fluid">
{% for photo in object.photo_set.all %}
{% if forloop.counter|divisibleby:4 %}
</div><div class="row row-fluid">
{% endif %}
<div class="col col-lg-3">
{% thumbnail photo.photo "320" crop="center" as im %}
<a href="{{photo.photo.url}}"><img src="{{ im.url }}"></img></a>
{% empty %}
<p class="text-center bg-warning">No image</p>
{% endthumbnail %}
<div class="caption">
{{photo}}
<a href="{%url 'select-photo' photo.id %}" 
title="Selecteer als standaard foto in popup op kaart"
class="check fa {%if photo.ispopup%} fa-check-circle {%else%} fa-circle-o {%endif%} fa-lg">
<!-- class="check glyphicon {%if photo.ispopup%} glyphicon-check {%else%} glyphicon-unchecked {%endif%}"> -->
</a>
</div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
