alabaster==0.7.10
appdirs==1.4.3
asn1crypto==0.22.0
Babel==2.4.0
cffi==1.10.0
cryptography==1.8.1
cycler==0.10.0
Django==1.11
django-extensions==1.7.9
django-polymorphic==1.2
django-tastypie==0.13.3
docutils==0.13.1
enum34==1.1.6
functools32==3.2.3.post2
GDAL==2.1.0
idna==2.5
imagesize==0.7.1
ipaddress==1.0.18
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.0.1
numpy==1.12.1
packaging==16.8
pandas==0.20.1
pkg-resources==0.0.0
psycopg2==2.7.1
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-mimeparse==1.6.0
pytz==2017.2
requests==2.13.0
scipy==0.19.0
simplejson==3.11.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
sphinx-rtd-theme==0.2.5b1
subprocess32==3.2.7
Werkzeug==0.12.2
